@{
    ViewBag.Title = "Student_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        .loading {
            font-family: Arial;
            font-size: 15pt;
            display: none;
            position: fixed;
            background-color: White;
            z-index: 99999;
            top: 0;
            left: 0;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            min-height: 100%;
            width: 100%;
        }
    </style>
</head>
<body style="padding: 0px !important;">
    <h1>fshvgkjdfn</h1>
    <div class="loading Loader" align="center">
        Loading. Please wait.<br />
        <div id="msgDiv"></div>
        <br />
        <img src="~/Content/images/progressbar.gif" />
    </div>

</body>
</html>
