@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/Whisskers_MIx.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
        .loading {
            font-family: Arial;
            font-size: 15pt;
            display: none;
            position: fixed;
            background-color: White;
            z-index: 99999;
            top: 0;
            left: 0;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            min-height: 100%;
            width: 100%;
        }
    </style>
    <script type="text/javascript">
    function changePassword() {
        if ($('#txtOldPwd').val().length == 0) {
            $('#RequiredFieldValidator1').html("Enter Old Password.");
            $('#txtOldPwd').focus();
            return false;
        }
        if ($('#txtNewPwd').val().length == 0) {
            $('#RequiredFieldValidator1').html("Enter New Password");
            $('#txtNewPwd').focus();
            return false;
        }
        if ($('#txtConfrmNewPwd').val().length == 0) {
            $('#RequiredFieldValidator1').html("Enter Confirm New Password");
            $('#txtConfrmNewPwd').focus();
            return false;
        }
        if ($('#txtConfrmNewPwd').val().toUpperCase() != $('#txtNewPwd').val().toUpperCase()) {
            $('#RequiredFieldValidator1').html("Confirm password and new confirm password is not matched");
            $('#txtNewPwd').val('');
            $('#txtConfrmNewPwd').val('');
            $('#txtNewPwd').focus();
            return false;
        }
        else {
            debugger;
            var SelectedData = JSON.stringify({
                'OldPwd': $('#txtOldPwd').val(),
                'NewPwd': $('#txtNewPwd').val(),
                'ConfrmNewPwd': $('#txtConfrmNewPwd').val(),
            });
            $.ajax({
                url: "/Home/changePasswordSave",
                method: 'POST',
                cache: false,
                contentType: 'application/json; charset=utf-8',
                data: SelectedData,
                dataType: "json",
                beforeSend: function () {
                    $(".Loader").show();
                },
                complete: function () {
                    $(".Loader").hide();
                },
                success: function (data) {
                    debugger;
                    if (data[0] == "0") {
                        $('#RequiredFieldValidator1').html(data[1]);
                    }
                    if (data[0] == "1") {
                        $('#changePasswordView').hide();
                        $('#ChangePasswordSuccessMessage').show();
                    }
                }, async: true,
                error: function (data) {
                    alert("Error is : " + data);
                }
            });
        }
        return false;
    }
    </script>
</head>

<body>
    <div class="loading Loader" align="center">
        Loading. Please wait.<br />
        <div id="msgDiv"></div>
        <br />
        <img src="~/Content/images/progressbar.gif" />
    </div>
    <div id="changePasswordView" class=" forgot-wrapper">
        <div class="logo">
            <a href="#a">

                <img src="/Content/images/logo.jpg" alt="logo">
            </a>
        </div>

        <form id="form0" method="post">
            <div>
                <div id="Div3" class="passf-Area">
                    <div id="Div4" class="passRightArea">
                        <div class="passinfo">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span id="Label4" style="font-weight: 700">Change Your Password</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="passLeftArea" id="divForget">
                        <div class="formArea">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                                <tbody>
                                   
                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label>Old Password</label>
                                                            <input type="password" id="txtOldPwd" name="txtOldPwd" class="MainControl" required="">
                                                           
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label>New Password</label>
                                                            <input type="password" id="txtNewPwd" name="txtNewPwd" class="MainControl" required="">

                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <label>Confirm New Password</label>
                                                            <input type="password" id="txtConfrmNewPwd" name="txtConfrmNewPwd" class="MainControl" required="">
                                                        </td>

                                                    </tr>




                                                    <tr>
                                                        <td>
                                                            <div class="error-box">
                                                                <span id="RequiredFieldValidator1" class="error-red" style="display: inline;">
                                                                </span>
                                                            </div>
                                                            <div class="button-box-2">
                                                                <a href="/" class="btn btn-inverse cancel">Cancel</a>
                                                                <input type="submit" id="btnchangePassword" name="btnchangePassword"  value="Submit"  class="save" onclick="return changePassword();" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
    <div id="ChangePasswordSuccessMessage" class=" forgot-wrapper" style="display:none;">
        <form>
            <div>
                <div id="Div3" class="passf-Area">
                    <div id="Div4" class="passRightArea">
                        <div class="passinfo">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>

                                    <tr>
                                        <td>
                                            <span id="Label5" style="font-size:15px;">Password has been changed successfully.</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="passLeftArea" id="divForget">
                        <div class="formArea">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                                <tbody>

                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>

                                                    <tr>
                                                        <td>
                                                            <div class="error-box">
                                                                <span id="RequiredFieldValidator1" class="error" style="display: inline;">
                                                                </span>
                                                            </div>
                                                            <div class="button-box-2">
                                                                <a href="/" class="save">Go to login</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ResetPassword" class="forgotPasswordArea" style="display: none;">
                <div class="formArea">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                        <tbody>
                            <tr>
                                <td><strong><span id="Label6"> Please Check your email id to reset your password </span></strong></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="button-box-2">
                                        <a href="/" class="btn btn-inverse cancel" style="margin-left:0px;">Ok</a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>


    <div>
       
        
    </div>
</body>
</html>
