@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Successfully Registered</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="bootstrap-social.css" type="text/css">

    <!-- Custom StyleSheets -->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
</head>
<body>
    <header id="successHeader">
        <div class="container">
            <section class="logo">
                <h1>
                    <span>W</span>
                    <span>W</span>
                </h1>
                <section class="co-name">
                    <h2>whisskers</h2><br>
                    <h2>marketing</h2>
                </section>
            </section><!--Ending Logo -->
            <section id="title">
                <h1>Digital <span style="color:#2a2a2a;">Marketing</span> Tool</h1>
            </section>
        </div>
    </header>
    <section id="box-wrapper">
        <div class="success-box">
            <p>Thank you for having successfully registeration with India's First Digital Marketing Tool. Now you can use this tool and grow your Knowledge.</p>
            <div class="row">
                <div class="col-xs-6">
                    <a href="javascript:void(0)">Continue as Free Member</a>
                </div>
                <div class="col-xs-6">
                    <a id="demoLink" class="spanLink" href="javascript:void(0)">See the Demo</a>
                </div>
            </div>
            <hr>
            <h4>For Premium Subscription:</h4>
            <p><span id="pricingLink" class="spanLink">Choose your plan</span></p>
        </div>
    </section>
    <section id="demo" class="contents">
        <h3 class="contentTitle">Demo for the Simulation Tool</h3>
    </section>
    <section id="pricing" class="contents">
        <div class="container">
            <h3 class="contentTitle">Choose Your Subscription Plan</h3>
            <div class="row">
                <div class="col-sm-3">
                    <article class="subs js--anim-4">
                        <section class="subsHeader">
                            <h5>Subscription</h5>
                            <p class="subs-price">$ 10<span> / month</span></p>
                            <p class="subs-price-day">That's only <span>
                            <script>document.write(Math.round((10 / 30)*100)/100);</script>$</span> per day</p>
                        </section>
                        <section class="subsBody">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate non, dignissimos itaque nihil reprehenderit eos dolorem, ipsum delectus similique at ullam eveniet obcaecati distinctio voluptatum ab ipsam? Soluta, dolorem? Suscipit.</p>
                        </section>
                        <section class="subsFooter">
                            <a href="~/CCAPayment/Index" class="btn btn-full">Proceed to Payment</a>
                        </section>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="subs">
                        <section class="subsHeader">
                            <h5>Subscription</h5>
                            <p class="subs-price">$ 10<span> / month</span></p>
                            <p class="subs-price-day">That's only <span>
                            <script>document.write(Math.round((10 / 30)*100)/100);</script>$</span> per day</p>
                        </section>
                        <section class="subsBody">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate non, dignissimos itaque nihil reprehenderit eos dolorem, ipsum delectus similique at ullam eveniet obcaecati distinctio voluptatum ab ipsam? Soluta, dolorem? Suscipit.</p>
                        </section>
                        <section class="subsFooter">
                            <a href="~/CCAPayment/Plan2" class="btn btn-ghost">Proceed to Payment</a>
                        </section>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="subs">
                        <section class="subsHeader">
                            <h5>Subscription</h5>
                            <p class="subs-price">$ 10<span> / month</span></p>
                            <p class="subs-price-day">That's only <span>
                            <script>document.write(Math.round((10 / 30)*100)/100);</script>$</span> per day</p>
                        </section>
                        <section class="subsBody">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate non, dignissimos itaque nihil reprehenderit eos dolorem, ipsum delectus similique at ullam eveniet obcaecati distinctio voluptatum ab ipsam? Soluta, dolorem? Suscipit.</p>
                        </section>
                        <section class="subsFooter">
                            <a href="#" class="btn btn-ghost">Sign up now</a>
                        </section>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="subs">
                        <section class="subsHeader">
                            <h5>Subscription</h5>
                            <p class="subs-price">$ 10<span> / month</span></p>
                            <p class="subs-price-day">That's only <span>
                            <script>document.write(Math.round((10 / 30)*100)/100);</script>$</span> per day</p>
                        </section>
                        <section class="subsBody">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate non, dignissimos itaque nihil reprehenderit eos dolorem, ipsum delectus similique at ullam eveniet obcaecati distinctio voluptatum ab ipsam? Soluta, dolorem? Suscipit.</p>
                        </section>
                        <section class="subsFooter">
                            <a href="#" class="btn btn-ghost">Sign up now</a>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="footer-contact">
                        <li><a href="mailto:training@whisskers.com"><i class="ion-android-mail"></i>training@whisskers.com</a></li>
                        <li><a href="tel:+917042835451"><i class="ion-android-call"></i>+91 704 283 5451</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/whisskersmarketing/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/3964468/" target="_blank"><i class="ion-social-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/whisskersm" target="_blank"><i class="ion-social-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p class="copy">&copy; Whisskers 2016-17. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script src="js/jquery.js"></script>
    <script src="js/waypoints.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>
