@{
    ViewBag.Title = "Exception";
}
<h2>Exception</h2>
<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">Some error occures, please contact to administrator</h2>
</hgroup>