@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ccavResponseHandler</title>
</head>
<body>
    <div>


        Pram Count <input type="text" id="encRequest1" name="PramCnt" value="@ViewBag.PramCnt" />
        encResp <input type="text" name="access_code1" id="encResp" value="@ViewBag.encResp" />
        encResponse <input type="text" id="encRequest1" name="encResponse" value="@ViewBag.encResponse" />
        strException<input type="text" name="access_code1" id="strException" value="@ViewBag.strException" />
    </div>
</body>
</html>
