@{
    Layout = "~/Views/Shared/MasterLayoutOuter.cshtml";
   
}


    <section id="box-wrapper">
        <div class="success-box">
            <p>Thank you for having successfully registeration with India's First Digital Marketing Tool. Now you can use this tool and grow your Knowledge.</p>
            <div class="row">
                <div class="col-xs-6">
                    <a class="halfLink" href="javascript:void(0)">Continue as Free Member</a>
                </div>
                <div class="col-xs-6">
                    <a id="demoLink" class="halfLink scrollLink" href="javascript:void(0)">See the Demo</a>
                </div>
            </div>
            <hr>
            <h4>For Premium Subscription:</h4>
            <div class="row">
                <div class="col-xs-12">
                    <a id="pricingLink" class="full-link scrollLink" href="javascript:void(0)">Choose Subscription Plan</a>
                    <img id="scrollDown" src="~/Content/images/scrollIcon.png">
                </div>
            </div>
        </div>
    </section>
    <section id="demo" class="contents">
        <h3 class="contentTitle">Demo for the Simulation Tool</h3>
    </section>
    <section id="pricing" class="contents">
        <div class="container">
            <h3 class="contentTitle">Choose Your Subscription Plan</h3>
            <div class="row">
                <div class="col-sm-3">
                    <article class="subs js--anim-4">
                        <section class="subsHeader">
                            <h5>Subscription</h5>
                            <p class="subs-price">$ 10<span> / month</span></p>
                            <p class="subs-price-day">
                                That's only <span>
                                    <script>document.write(Math.round((10 / 30) * 100) / 100);</script>$
                                </span> per day
                            </p>
                        </section>
                        <section class="subsBody">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate non, dignissimos itaque nihil reprehenderit eos dolorem, ipsum delectus similique at ullam eveniet obcaecati distinctio voluptatum ab ipsam? Soluta, dolorem? Suscipit.</p>
                        </section>
                        <section class="subsFooter">
                            <a href="~/CCAPayment/Index" class="btn btn-full">Proceed to Payment</a>
                        </section>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="subs">
                        <section class="subsHeader">
                            <h5>Subscription</h5>
                            <p class="subs-price">$ 10<span> / month</span></p>
                            <p class="subs-price-day">
                                That's only <span>
                                    <script>document.write(Math.round((10 / 30) * 100) / 100);</script>$
                                </span> per day
                            </p>
                        </section>
                        <section class="subsBody">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate non, dignissimos itaque nihil reprehenderit eos dolorem, ipsum delectus similique at ullam eveniet obcaecati distinctio voluptatum ab ipsam? Soluta, dolorem? Suscipit.</p>
                        </section>
                        <section class="subsFooter">
                            <a href="~/CCAPayment/Plan2" class="btn btn-ghost">Proceed to Payment</a>
                        </section>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="subs">
                        <section class="subsHeader">
                            <h5>Subscription</h5>
                            <p class="subs-price">$ 10<span> / month</span></p>
                            <p class="subs-price-day">
                                That's only <span>
                                    <script>document.write(Math.round((10 / 30) * 100) / 100);</script>$
                                </span> per day
                            </p>
                        </section>
                        <section class="subsBody">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate non, dignissimos itaque nihil reprehenderit eos dolorem, ipsum delectus similique at ullam eveniet obcaecati distinctio voluptatum ab ipsam? Soluta, dolorem? Suscipit.</p>
                        </section>
                        <section class="subsFooter">
                            <a href="#" class="btn btn-ghost">Proceed to Payment</a>
                        </section>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="subs">
                        <section class="subsHeader">
                            <h5>Subscription</h5>
                            <p class="subs-price">$ 10<span> / month</span></p>
                            <p class="subs-price-day">
                                That's only <span>
                                    <script>document.write(Math.round((10 / 30) * 100) / 100);</script>$
                                </span> per day
                            </p>
                        </section>
                        <section class="subsBody">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate non, dignissimos itaque nihil reprehenderit eos dolorem, ipsum delectus similique at ullam eveniet obcaecati distinctio voluptatum ab ipsam? Soluta, dolorem? Suscipit.</p>
                        </section>
                        <section class="subsFooter">
                            <a href="#" class="btn btn-ghost">Proceed to Payment</a>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </section>

