@{
    ViewBag.Title = "AccountReport";
    Layout = "~/Areas/Trainers/Views/Shared/Trainer_Layout.cshtml";
}

<div id="NoBatchDiv">
    <h3>No batch founds</h3>
</div>
<script src="~/Scripts/trainer.js"></script>